<div class="mynetwork" #mynetwork> </div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Edit distance</h5>
    
    <form>
        <div class="form-group">
            <input type="number" name="edgeDistance" class="form-control" [(ngModel)]="edgeDistance" placeholder="In Kilometers">
        </div>
        <div class="form-group">
            <button id="submit" class="btn btn-dark" (click)="updateEdge()">Submit</button>
        </div>
    </form>
    <hr style="height:1px;border:none;color:rgb(82, 73, 73);background-color:rgb(82, 73, 73);" />
      <input type="checkbox" [(ngModel)]="isRandom"> <label style="margin-right: 6px;">Random</label>
      <input type="checkbox" [(ngModel)]="hasPhysics" (click)="TogglePhysics()"> <label>Physics</label>
    <button id="completeGraph" class="btn btn-dark" (click)="drawCompleteGraph()">Complete Graph</button>
    <hr style="height:1px;border:none;color:rgb(82, 73, 73);background-color:rgb(82, 73, 73);" />
    <button id="visualize" type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
        Visualize
      </button>
      <hr style="height:1px;border:none;color:rgb(82, 73, 73);background-color:rgb(82, 73, 73);" />

      <button id="help" type="button" class="btn btn-dark" data-toggle="modal" data-target="#helpy">
        How to use ?
      </button>

    <hr *ngIf="mincost+greedyMinCost!=0" style="height:1px;border:none;color:rgb(82, 73, 73);background-color:rgb(82, 73, 73);" />
    <label *ngIf="mincost!=0"> Best: {{mincost}} |</label> 
    <label *ngIf="greedyMinCost!=0">| Greedy: {{greedyMinCost}}</label>
</div>
</div>

<button id="mybutton" class="btn btn-dark" (click)="findOptimalPath()">Best Path</button>
<button id="mybutton1" class="btn btn-dark" (click)="findGreedyPath()">Greedy Path</button>

  
  <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Visualization</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body graph2d" #graph>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Help -->
  <div class="modal fade bd-example-modal-lg" id="helpy" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabely" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabely">Help</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body" > <p>
            • Add as many nodes as you want using the "EDIT" button on the left top corner. <br>
            • Generate a complete graph using the "Complete graph" button.<br>
            • Check the "Random" checkbox if you want to initialize it whith random numbers.<br>
            • Click on any edge to change its value using the form on the right then click submit.<br>
            • check the "Physics" to enable/disable graph physics if it annoys you.<br>

          </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>